/***************************Setting colors***************************/
$white: #ffffff;
$black: #000000;
//text
$textGrey: #9b9eac;
$textDarkGrey: #74798c;
$textRed: #ff0101;
$textLightBlack: #20253a;
$textBlack: #282d30;
//chart
$chartRed: #e60000;
$chartLightRed: #f00000;
$chartDarkRed: rgba(255, 1, 1, 0.7);
//background
$backgroundLightsRed: #f59696;
$backGroundLightGrey: #fbfbfb;
$backGroundGrey: rgba(196, 196, 196, 0.5);
$backgroundBlack: #020203;
