/****************************setting fonts***************************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500&display=swap");

/**************************setting text***************************/

* {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 15px;
  font-weight: 500;
  color: $textDarkGrey;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  color: $black;
}

.h1-red {
  color: $textRed;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: $black;
}

.nav-text {
  font-size: 24px;
  color: $white;
}

.nav-text-red {
  font-size: 26px;
  color: $chartRed;
}

.copyright {
  font-size: 12px;
  line-height: 24px;
  color: $white;
}

.title-activity {
  color: $textLightBlack;
}

.legend-value,
.chart-description {
  font-size: 14px;
  color: $textDarkGrey;
}

.chart-scale {
  font-size: 14px;
  color: $textGrey;
}

.chart-result-small {
  font-size: 8px;
  color: $black;
}

.chart-skills {
  font-size: 12px;
  color: $white;
}

.chart-result {
  font-size: 26px;
  color: $textBlack;
  @media screen and (max-width: $breakup) {
    font-size: 20px;
  }
}

.chart-objectif {
  font-size: 16px;
  color: $textDarkGrey;
}

.chart-value {
  font-size: 28px;
  color: $textBlack;
}

.activityTooltip .recharts-tooltip-item-value {
  font-size: 7px;
  color: $white;
}

.sessionTooltip .recharts-tooltip-item-value {
  font-size: 8px;
  color: $black;
}

.label-score {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  color: #282d30;
}
.label-score-text {
  font-size: 16px;
  line-height: 26px;
  color: #74798c;
}

.oups {
  font-size: 36px;
  font-weight: 500;
}

.error {
  font-size: 288px;
  font-weight: 700;
}
